﻿@model WebApplication1.Models.Material

@using WebApplication1.Models

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Account_Layout.cshtml";
}

<main class="container">
    <br />
    <h2>Редактирование публикации</h2>
    <hr />

    @using (Html.BeginForm("Edit", "Author", FormMethod.Post, new { @class = "mt-4 was-validated" }))
    {

        @Html.HiddenFor(m => m.Id);

        @Html.LabelFor(m => m.TitleRus, "Название публикации на русском языке")
        @Html.TextAreaFor(m => m.TitleRus, new { @class = "form-control is-invalid mb-3", required = "" })

        @Html.LabelFor(m => m.TitleEng, "Название публикации на английском языке")
        @Html.TextAreaFor(m => m.TitleEng, new { @class = "form-control is-invalid mb-3", required = "" })

        <div class="row mb-3">
            <div class="form-group col-md-4">
                @Html.LabelFor(m => m.Type, "Тип публикации")
                @Html.DropDownListFor(m => m.Type, new List<SelectListItem>() {
               new SelectListItem { Text = "Научная статья", Value = "Научная статья"},
               new SelectListItem { Text = "Материалы конференции", Value = "Материалы конференции"},
               new SelectListItem { Text = "Научный обзор", Value = "Научный обзор"}},
            new { @class = "custom-select", required = "" })
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(m => m.Rubric, "Рубрика публикации")
                @Html.DropDownListFor(m => m.Rubric, new List<SelectListItem>() {
               new SelectListItem { Text = "Приборостроение, метрология и информационно-измерительные приборы и системы", Value = "Приборостроение, метрология и информационно-измерительные приборы и системы"},
               new SelectListItem { Text = "Информатика, вычислительная техника и управление", Value = "Информатика, вычислительная техника и управление"},
               new SelectListItem { Text = "Документальная информация", Value = "Документальная информация"},
               new SelectListItem { Text = "Экономические науки", Value = "Экономические науки"}},
            new { @class = "custom-select", required = "" })
            </div>

            <div class="form-group col-md-2">
                <label for="Pages">Количество страниц</label>
                <input value=@Model.Pages type="number" id="Pages" name="Pages" min="1" placeholder="Страницы" class="form-control is-invalid mb-3" required />
            </div>
        </div>
        <hr />


        // Добавление сведений об авторах
        <h5>
            <u>Сведения об авторах</u>
        </h5>
        foreach (var Test in Model.Authors)
        {
            <div class="mb-5">
                <div class="row mb-3">
                    <div class="col-md-4">
                        <label>Фамилия</label>
                        <input value="@Test.Surname" class="form-control is-invalid" required />
                    </div>
                    <div class="col-md-4">
                        <label>Имя</label>
                        <input value="@Test.Name" class="form-control is-invalid" required />
                    </div>
                    <div class="col-md-4">
                        <label>Фамилия</label>
                        <input value="@Test.Patronymic" class="form-control is-invalid" required />
                    </div>
                </div>

                <div class="mb-2">
                    <label>Место работы/учебы автора</label>
                    <input value="@Test.Place" class="form-control is-invalid" required />
                </div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <label>Должность/Статус</label>
                        <input value="@Test.Position" class="form-control is-invalid" required />
                    </div>
                    <div class="col-md-6">
                        <label>Адрес электронной почты</label>
                        <input value="@Test.Email" class="form-control is-invalid" />
                    </div>
                </div>
            </div>
            <hr />
        }
        <br />

        <!-- Добавление Аннотаций -->
        <div class="mb-3">
            @Html.LabelFor(m => m.AnnotationRus, "Аннотация на русском языке")
            @Html.TextAreaFor(m => m.AnnotationRus, new { @class = "form-control is-invalid mb-3", required = "" })
        </div>
        <div class="mb-3">
            @Html.LabelFor(m => m.AnnotationEng, "Аннотация на английском языке")
            @Html.TextAreaFor(m => m.AnnotationEng, new { @class = "form-control is-invalid mb-3", required = "" })
        </div>

        <!-- Добавление Ключевых Слов -->
        <div class="mb-3">
            @Html.LabelFor(m => m.KeywordsRus, "Ключевые слова через запятую на русском языке")
            @Html.TextAreaFor(m => m.KeywordsRus, new { @class = "form-control is-invalid mb-3", required = "" })
        </div>
        <div class="mb-5">
            @Html.LabelFor(m => m.KeywordsEng, "Ключевые слова через запятую на английском язык")
            @Html.TextAreaFor(m => m.KeywordsEng, new { @class = "form-control is-invalid mb-3", required = "" })
        </div>

        <div class="row mx-1 mb-5 justify-content-between align-items-end">

            @{
                if (File.Exists(Server.MapPath("~/Files/") + Model.Id + "/" + Model.FileName))
                {
                    <label class="alert-success">Файл публикации "@Model.FileName"</label>
                    <a href="/Account/GetFile/@Model.Id">Скачать</a>
                }
                else
                {
                    <p class="alert-warning">Файл публикации не найден!</p>
                }
            }

            @*<input class="btn btn-info" type="file" name="upload" value="Выбрать новый файл" required />*@
            <input class="btn btn-primary" type="submit" value="Сохранить изменения" />
        </div>
    }
</main>