﻿@{
    ViewBag.Title = "Index Author";
    Layout = "~/Views/Shared/_Account_Layout.cshtml";
}

    <main class="container">
        <br />
        <h2>Личный кабинет автора</h2>
        <hr />
        <br />
        <a class="btn btn-success" href="/Author/Create">Добавить новую публикацию</a>
        <br />
        <br />

        <div>
            <div class="mb-4">
                <h4><a href="/Author/SentMaterials">Отправленные в редакцию материалы</a></h4>
                <p>
                    Материалы находятся на рассмотрении редакцией.
                </p>
            </div>

            <div class="mb-4">
                <h4><a href="#">Возвращенные автору материалы</a></h4>
                <p>
                    Материалы возвращены автору для исправления ошибок оформления.
                </p>
            </div>

            <div class="mb-4">
                <h4><a href="#">Принятые к публикации материалы</a></h4>
                <p>
                    Материалы приняты для публикации в журнале.
                </p>
            </div>

            <div class="mb-4">
                <h4><a href="#">Опубликованные материалы</a></h4>
                <p>
                    Материалы опубликованы в журнале (размещены на сайте).
                </p>
            </div>

            <div class="mb-4">
                <h4><a href="#">Отклоненные материалы</a></h4>
                <p>
                    Материалы, публикация которых отклонена.
                </p>
            </div>
            <hr />
            <br />
            <div class="mb-4">
                <h4><a href="/Author/PersonalDataAuthor">Изменить данные профиля</a></h4>
            </div>

            <br />
        </div>
    </main>