﻿@*@model WebApplication1.Models.Material*@

@{
    ViewBag.Title = "PersonalDataAuthor";
    Layout = "~/Views/Shared/_Account_Layout.cshtml";
}

<main class="container">
    <br />
    <h4>Изменить данные профиля</h4>
    <hr />




    @*@using (Html.BeginForm("Edit", "Account", FormMethod.Post, new { @class = "mt-4 was-validated" }))
    {
        @Html.HiddenFor(m => m.IdTest)
        <div class="mb-3">
                @Html.LabelFor(m => m.Test, "Фамилия")
                @Html.TextBoxFor(m => m.Test, new { @class = "form-control is-invalid", required = "" })

                @Html.LabelFor(m => m.Test, "Имя")
                @Html.TextBoxFor(m => m.Test, new { @class = "form-control is-invalid", required = "" })

                @Html.LabelFor(m => m.Test, "Отчество")
                @Html.TextBoxFor(m => m.Test, new { @class = "form-control is-invalid", required = "" })
        </div>

        <div class="row mb-3">
            <div class="form-group col-md-4">
                @Html.LabelFor(m => m.Test, "Тип публикации")
                @Html.DropDownListFor(m => m.Test, new List<SelectListItem>() {
               new SelectListItem { Text = "Научная статья", Value = "Научная статья"},
               new SelectListItem { Text = "Материалы конференции", Value = "Материалы конференции"},
               new SelectListItem { Text = "Научный обзор", Value = "Научный обзор"}},
            new { @class = "custom-select" })
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(m => m.Test, "Рубрика публикации")
                @Html.DropDownListFor(m => m.Test, new List<SelectListItem>() {
               new SelectListItem { Text = "Приборостроение, метрология и информационно-измерительные приборы и системы", Value = "Приборостроение, метрология и информационно-измерительные приборы и системы"},
               new SelectListItem { Text = "Информатика, вычислительная техника и управление", Value = "Информатика, вычислительная техника и управление"},
               new SelectListItem { Text = "Документальная информация", Value = "Документальная информация"},
               new SelectListItem { Text = "Экономические науки", Value = "Экономические науки"}},
            new { @class = "custom-select" })
            </div>

            <div class="form-group col-md-2">
                @Html.LabelFor(m => m.Test, "Количество страниц")
                <input type="number" name="Pages" min="1" placeholder="Страницы" class="form-control is-invalid mb-3" required />
            </div>
        </div>
        <hr />

        <div class="mb-2">
            @Html.LabelFor(m => m.Test, "Место работы/учебы автора")
            @Html.TextBoxFor(m => m.Test, new { @class = "form-control is-invalid", required = "" })
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                @Html.LabelFor(m => m.Test, "Должность/Статус")
                @Html.TextBoxFor(m => m.Test, new { @class = "form-control is-invalid", required = "" })
            </div>
            <div class="col-md-6">
                @Html.LabelFor(m => m.Test, "Адрес электронной почты")
                @Html.TextBoxFor(m => m.Test, new { @class = "form-control is-invalid", required = "" })
            </div>
        </div>
        <br />
        <hr />

        <div class="row mx-1 mb-5 justify-content-between align-items-end">
            <input class="btn btn-info" type="file" name="upload" />
            <input class="btn btn-primary" type="submit" value="Изменить данные публикации" />
        </div>
    }*@




</main>