﻿@model IEnumerable<WebApplication1.Models.Material>

@{
    ViewBag.Title = "SentMaterials";
    Layout = "~/Views/Shared/_Account_Layout.cshtml";
}

<main class="container">


    <table class="table table-hover">
        <tr>
            <th>Название публикации</th>
            <th>Тип публикации</th>
            <th>Рубрика публикации</th>
            <th>Ключевые слова</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TitleRus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rubric)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KeywordsRus)
                </td>
                <td>
                    @Html.ActionLink("Редактировать", "Edit", new { id = item.Id })<br />
                    @Html.ActionLink("Подробнее", "Details", new { id = item.Id }) <br />
                    @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </table>
</main>