﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
                                                            @*Подключенный скрипт jquery*@
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
</head>
<body>

    <div class="container">

        <!-- Навигационная панель -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-info">

            <a class="navbar-brand" href="/Home/Index">ITUE</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link active" href="/Home/About">О журнале</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Author">Для авторов</a>
                    </li>
                </ul>
                <a class="btn btn-sm btn-secondary" href="/Account/Index">Sign up</a>
            </div>
        </nav>
    </div>



    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Информационные технологии в управлении и экономике</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
