﻿@model WebApplication1.Models.Material

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Account_Layout.cshtml";
}

<br />
<br />
<big><u>Вы действительно хотите удалить данную публикацию?</u></big>
    <div class="row no-gutters border rounded overflow-hidden flex-md-row my-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
            <h5 class="mb-1"> @Html.DisplayFor(model => model.TitleRus) </h5>
            <h6 class="mb-2 text-secondary">@Html.DisplayFor(model => model.Surname) @Html.DisplayFor(model => model.Name) @Html.DisplayFor(model => model.Patronymic)</h6>
        </div>
    </div>

@using (Html.BeginForm())
{
    <input class="btn btn-danger" type="submit" value="Удалить" />
}