﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Account_Layout.cshtml";
}

<main class="container">
    <br />
    <br />
    <div class="row justify-content-between m-4">
        <p><a class="btn btn-primary" href="/Author/Index">Автор</a></p>
        <br />
        <p><a class="btn btn-primary" href="#">Главный редактор</a></p>
        <br />
        <p><a class="btn btn-primary" href="#">Технический редактор</a></p>
        <br />
        <p><a class="btn btn-primary" href="#">Рецензент</a></p>
    </div>


</main>