﻿@{
    ViewBag.Title = "Главная страница";
}

<main class="container shadow">

    <!-- Карусель фото  -->
    <div class="row">
        <div id="carouselExampleIndicators" class="carousel slide col-md-8 pt-2" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://camphotography.net/wp-content/uploads/2019/09/388554.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>First slide label</h5>
                        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://img1.akspic.ru/image/103357-derevo-pole-reklama-germaniya-doroga-2048x1152.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Second slide label</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://kainatingunesi.com/wp-content/uploads/2017/07/tenebra3-13.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Third slide label</h5>
                        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Предыдущая</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Следующая</span>
            </a>
        </div>

        <!-- Блок слева карусели -->
        <div class="col-md-4">
            <div class="p-4 mt-3 bg-light rounded">
                <h4 class="font-italic">Какая-то информация</h4>
                <p class="mb-0">
                    Журнал создан для публикации научно-исследовательских работ,
                    открывающих пути развития стратегических информационных технологий,
                    включая вопросы создания суперкомпьютеров и разработки программного обеспечения.
                </p>
            </div>
        </div>
    </div>



    <!-- Главное тело -->
    <div class="row mt-4">
        <!-- Новости -->
        <div class="col-md-8">
            <h3 class="pb-4 mb-4 font-italic border-bottom"> Новое в журнале </h3>

            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-1">Подача произвольного сигнала на вход simulink-модели</h3>
                    <h5 class="mb-2 text-secondary">Бильфельд Н. В., Володина Ю. И.</h5>
                    <div class="mb-3 text-muted">23 Января 2020</div>
                    <p class="mb-auto">
                        В статье рассмотрены способы подачи произвольного (не стандартного) сигнала на вход модели при исследовании поведения систем.
                        Приведено использование блоков библиотеки simulink, а также программная реализация нестандартных сигналов.
                        Рассмотрен пример по использованию пакета по многокритериальному анализу систем управления.
                        Даны рекомендации по сохранению массивов используемых сигналов.
                    </p>
                    <a href="/Home/Actual" class="stretched-link">Продолжить чтение</a>
                </div>
            </div>

            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static m-auto">
                    <h3 class="mb-1">АИС «Формирования коллективного расписания для группы обучающихся»</h3>
                    <h5 class="mb-2 text-secondary">Поторопин В. А., Базарова И. А.</h5>
                    <div class="mb-3 text-muted">26 Января 2020</div>
                    <p class="mb-auto">
                        В статье рассматривается разработка автоматизированной системы «Формирования коллективного расписания для группы обучающихся».
                        В ходе разработки основными приоритетами были: агрегация расписания, оперативное уведомление студентов.
                        В результате было разработано готовое к внедрению асинхронное серверное приложение.
                    </p>
                    <a href="#" class="stretched-link">Продолжить чтение</a>
                </div>
            </div>

            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static m-auto">
                    <h3 class="mb-1">О законе Ципфа</h3>
                    <h5 class="mb-2 text-secondary">Гатин Г. Н.</h5>
                    <div class="mb-3 text-muted">26 Января 2020</div>
                    <p class="mb-auto">
                        Автор производит проверку литературных, программных и случайных текстов на соответствие закону Ципфа.
                        Показывает, что существуют тексты, не отвечающие этому закону.
                        Обращает внимание, что использование в Internet Закона Ципфа для проверки естественноститекста бесполезно.
                    </p>
                    <a href="#" class="stretched-link">Продолжить чтение</a>
                </div>
            </div>

            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static m-auto">
                    <h3 class="mb-1">Автоматизированная система виртуального прохождения «Эскейп Рум» для студии квестов «Узник»</h3>
                    <h5 class="mb-2 text-secondary">Мотова А. С., Рочев К. В.</h5>
                    <div class="mb-3 text-muted">26 Января 2020</div>
                    <p class="mb-auto">
                        В статье описаны работы по созданию автоматизированной системы виртуального прохождения «Эскейп Рум» для студии квестов «Узник».
                        Данная автоматизированная система будет разработана в программе Unity на языке программирования C#.
                    </p>
                    <a href="#" class="stretched-link">Продолжить чтение</a>
                </div>
            </div>
        </div>


        <!-- Правая панель -->
        <aside class="col-md-4">
            <div class="p-4 mb-3 bg-light rounded">
                <h4 class="font-italic">О журнале</h4>
                <p class="mb-0">
                    Журнал создан для публикации научно-исследовательских работ,
                    открывающих пути развития стратегических информационных технологий,
                    включая вопросы создания суперкомпьютеров и разработки программного обеспечения.
                </p>
            </div>
            <div class="p-4">
                <h4 class="font-italic">Архивы</h4>
                <hr />
                <ol class="list-unstyled mb-0">
                    <li><a href="#">Январь 2020</a></li>
                    <li><a href="#">Декабрь 2019</a></li>
                    <li><a href="#">Ноябрь 2019</a></li>
                    <li><a href="#">Октябрь 2019</a></li>
                    <li><a href="#">Сентябрь 2019</a></li>
                    <li><a href="#">Август 2019</a></li>
                    <li><a href="#">Июль 2019</a></li>
                    <li><a href="#">Июнь 2019</a></li>
                    <li><a href="#">Май 2019</a></li>
                    <li><a href="#">Апрель 2019</a></li>
                    <li><a href="#">Март 2019</a></li>
                    <li><a href="#">Февраль 2019</a></li>
                </ol>
            </div>
            <div class="p-4">
                <h4 class="font-italic">Поделиться</h4>
                <hr />
                <ol class="list-unstyled">
                    <li><a href="#">GitHub</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Facebook</a></li>
                </ol>
            </div>
        </aside>

    </div>
</main>



<!-- Майкрософт новости -->
<div class="row mt-4">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>