﻿@{
    ViewBag.Title = "Y2017_2";
}

<main class="container">
    <div class="row">

        <div class="col-lg-8 pt-4">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-A" role="tabpanel" aria-labelledby="list-A-list">
                    <iframe class="w-100" src="~/Content/file/2017/2/1.pdf" height="780"></iframe>
                </div>
                <div class="tab-pane fade" id="list-B" role="tabpanel" aria-labelledby="list-B-list">
                    <iframe class="w-100" src="~/Content/file/2017/2/2.pdf" height="780"></iframe>
                </div>
                <div class="tab-pane fade" id="list-C" role="tabpanel" aria-labelledby="list-C-list">
                    <iframe class="w-100" src="~/Content/file/2017/2/3.pdf" height="780"></iframe>
                </div>
                <div class="tab-pane fade" id="list-D" role="tabpanel" aria-labelledby="list-D-list">
                    <iframe class="w-100" src="~/Content/file/2017/2/4.pdf" height="780"></iframe>
                </div>
                <div class="tab-pane fade" id="list-E" role="tabpanel" aria-labelledby="list-E-list">
                    <iframe class="w-100" src="~/Content/file/2017/2/5.pdf" height="780"></iframe>
                </div>
                <div class="tab-pane fade" id="list-F" role="tabpanel" aria-labelledby="list-F-list">
                    <iframe class="w-100" src="~/Content/file/2017/2/6.pdf" height="780"></iframe>
                </div>
                <div class="tab-pane fade" id="list-G" role="tabpanel" aria-labelledby="list-G-list">
                    <iframe class="w-100" src="~/Content/file/2017/2/7.pdf" height="780"></iframe>
                </div>
                <div class="tab-pane fade" id="list-H" role="tabpanel" aria-labelledby="list-H-list">
                    <iframe class="w-100" src="~/Content/file/2017/2/8.pdf" height="780"></iframe>
                </div>
                <div class="tab-pane fade" id="list-I" role="tabpanel" aria-labelledby="list-I-list">
                    <iframe class="w-100" src="~/Content/file/2017/2/9.pdf" height="780"></iframe>
                </div>
                <div class="tab-pane fade" id="list-J" role="tabpanel" aria-labelledby="list-J-list">
                    <iframe class="w-100" src="~/Content/file/2017/2/10.pdf" height="780"></iframe>
                </div>
            </div>
        </div>

        <div class="col-lg-4 pt-4">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-A-list" data-toggle="list" href="#list-A" role="tab" aria-controls="home">
                    РАЗРАБОТКА ДИСКРЕТНОЙ МОДЕЛИ ТРЕЩИНОВАТОСТИ  ДЛЯ ЧИСЛЕННОГО МОДЕЛИРОВАНИЯ ТРЕЩИНОВАТОПОРИСТЫХ КОЛЛЕКТОРОВ
                </a>
                <a class="list-group-item list-group-item-action" id="list-B-list" data-toggle="list" href="#list-B" role="tab" aria-controls="profile">
                    НОТАЦИЯ ДЛЯ МОДЕЛИРОВАНИЯ ПРЕДПРИЯТИЯ
                </a>
                <a class="list-group-item list-group-item-action" id="list-C-list" data-toggle="list" href="#list-C" role="tab" aria-controls="messages">
                    АВТОМАТИЧЕСКАЯ ПРОВЕРКА НАВЫКОВ РАБОТЫ С ПРОГРАММНЫМИ СРЕДСТВАМИ ОБЩЕГО НАЗНАЧЕНИЯ
                </a>
                <a class="list-group-item list-group-item-action" id="list-D-list" data-toggle="list" href="#list-D" role="tab" aria-controls="settings">
                    ПРОЕКТИРОВАНИЕ ИНФОРМАЦИОННО-АНАЛИТИЧЕСКОЙ СИСТЕМЫ МОНИТОРИНГА ПРОЦЕССА СПОРТИВНОЙ ПОДГОТОВКИ ПОДРОСТКОВ
                </a>
                <a class="list-group-item list-group-item-action" id="list-E-list" data-toggle="list" href="#list-E" role="tab" aria-controls="settings">
                    ОБ ОЦЕНКЕ ЦЕНТРОИДНОСТИ ПОИСКОВЫХ ДЕРЕВЬЕВ
                </a>
                <a class="list-group-item list-group-item-action" id="list-F-list" data-toggle="list" href="#list-F" role="tab" aria-controls="settings">
                    РАЗРАБОТКА ИНФОРМАЦИОННОЙ СИСТЕМЫ УЧЕТА ТЕХНИЧЕСКОГО ОБСЛУЖИВАНИЯ СИСТЕМ КИПИА, АСУТП И МЕТРОЛОГИИ
                </a>
                <a class="list-group-item list-group-item-action" id="list-G-list" data-toggle="list" href="#list-G" role="tab" aria-controls="settings">
                    РАЗРАБОТКА СИСТЕМЫ УЧЁТА КЛИЕНТСКОЙ ОПЛАТЫ  ЗА ВОДУ И ТЕПЛО ДЛЯ ГКП НА ПХВ «АТБАСАР СУ»
                </a>
                <a class="list-group-item list-group-item-action" id="list-H-list" data-toggle="list" href="#list-H" role="tab" aria-controls="settings">
                    РАЗРАБОТКА ИМИТАЦИОННОЙ МОДЕЛИ ДВИЖЕНИЯ АВТОТРАНСПОРТА В ПРЕДЕЛАХ УЗЛА ПЕРЕСЕЧЕНИЯ ОСНОВНЫХ
                    ТРАНСПОРТНЫХ КОММУНИКАЦИЙ МУНИЦИПАЛЬНОГО ОБРАЗОВАНИЯ ГОРОДА УХТА
                </a>
                <a class="list-group-item list-group-item-action" id="list-I-list" data-toggle="list" href="#list-I" role="tab" aria-controls="settings">
                    РАЗРАБОТКА WEB-ПОДСИСТЕМЫ УПРАВЛЕНИЯ МНОГОКВАРТИРНЫМ ДОМОМ СОБСТВЕННИКАМИ
                </a>
                <a class="list-group-item list-group-item-action" id="list-J-list" data-toggle="list" href="#list-J" role="tab" aria-controls="settings">
                    РАЗРАБОТКА ПРОГРАММНО-АППАРАТНОЙ ПЛАТФОРМЫ «VRLEARNING ДЛЯ СОЗДАНИЯ ПРОМЫШЛЕННЫХ
                    ТРЕНАЖЕРОВ С ПРИМЕНЕНИЕМ ТЕХНОЛОГИИ ВИРТУАЛЬНОЙ РЕАЛЬНОСТИ»
                </a>
            </div>
        </div>

    </div>
</main>