﻿
@{
    ViewBag.Title = "Y2019_1";
}

    <main class="container">
        <div class="row">

            <div class="col-lg-8 pt-4">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="list-A" role="tabpanel" aria-labelledby="list-A-list">
                        <iframe class="w-100" src="~/Content/file/2019/1/1.pdf" height="780"></iframe>
                    </div>
                    <div class="tab-pane fade" id="list-B" role="tabpanel" aria-labelledby="list-B-list">
                        <iframe class="w-100" src="~/Content/file/2019/1/2.pdf" height="780"></iframe>
                    </div>
                    <div class="tab-pane fade" id="list-C" role="tabpanel" aria-labelledby="list-C-list">
                        <iframe class="w-100" src="~/Content/file/2019/1/3.pdf" height="780"></iframe>
                    </div>
                    <div class="tab-pane fade" id="list-D" role="tabpanel" aria-labelledby="list-D-list">
                        <iframe class="w-100" src="~/Content/file/2019/1/4.pdf" height="780"></iframe>
                    </div>
                    <div class="tab-pane fade" id="list-E" role="tabpanel" aria-labelledby="list-E-list">
                        <iframe class="w-100" src="~/Content/file/2019/1/5.pdf" height="780"></iframe>
                    </div>
                    <div class="tab-pane fade" id="list-F" role="tabpanel" aria-labelledby="list-F-list">
                        <iframe class="w-100" src="~/Content/file/2019/1/6.pdf" height="780"></iframe>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 pt-4">
                <div class="list-group" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action active" id="list-A-list" data-toggle="list" href="#list-A" role="tab" aria-controls="home">
                        АНАЛИЗ БЫСТРОДЕЙСТВИЯ ТИПОВЫХ ОПЕРАЦИЙ ЯЗЫКА C#  НА ПЛАТФОРМАХ DOT.NET И MONO
                    </a>
                    <a class="list-group-item list-group-item-action" id="list-B-list" data-toggle="list" href="#list-B" role="tab" aria-controls="profile">
                        РАЗВИТИЕ ТЕХНОЛОГИИ БЛОКЧЕЙН В ЦИФРОВОЙ ЭКОНОМИКЕ РОССИИ
                    </a>
                    <a class="list-group-item list-group-item-action" id="list-C-list" data-toggle="list" href="#list-C" role="tab" aria-controls="messages">
                        ОЦЕНКА СОГЛАСОВАННОСТИ МНЕНИЙ СТУДЕНТОВ
                    </a>
                    <a class="list-group-item list-group-item-action" id="list-D-list" data-toggle="list" href="#list-D" role="tab" aria-controls="settings">
                        ПРОГНОЗИРОВАНИЕ ИЗМЕНЕНИЙ ДЛИТЕЛЬНОСТИ ЭТАПОВ ЖИЗНЕННОГО ЦИКЛА ИННОВАЦИОННОГО ПРОДУКТА
                    </a>
                    <a class="list-group-item list-group-item-action" id="list-E-list" data-toggle="list" href="#list-E" role="tab" aria-controls="settings">
                        РАЗРАБОТКА ИГРЫ «KOREAN FOOTBALL»
                    </a>
                    <a class="list-group-item list-group-item-action" id="list-F-list" data-toggle="list" href="#list-F" role="tab" aria-controls="settings">
                        УСОВЕРШЕНСТВОВАНИЕ ЛАБОРАТОРНОЙ ИНФОРМАЦИОННОЙ СИСТЕМЫ ДЛЯ ИСКЛЮЧЕНИЯ ВЛИЯНИЯ ЧЕЛОВЕЧЕСКОГО ФАКТОРА
                    </a>
                </div>
            </div>
        </div>

    </main>