﻿
@{
    ViewBag.Title = "Y2019_3";
}

<main class="container">
    <div class="row">

        <div class="col-lg-8 pt-4">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-A" role="tabpanel" aria-labelledby="list-A-list">
                    <iframe class="w-100" src="~/Content/file/2019/3/1.pdf" height="780"></iframe>
                </div>
                <div class="tab-pane fade" id="list-B" role="tabpanel" aria-labelledby="list-B-list">
                    <iframe class="w-100" src="~/Content/file/2019/3/2.pdf" height="780"></iframe>
                </div>
                <div class="tab-pane fade" id="list-C" role="tabpanel" aria-labelledby="list-C-list">
                    <iframe class="w-100" src="~/Content/file/2019/3/3.pdf" height="780"></iframe>
                </div>
                <div class="tab-pane fade" id="list-D" role="tabpanel" aria-labelledby="list-D-list">
                    <iframe class="w-100" src="~/Content/file/2019/3/4.pdf" height="780"></iframe>
                </div>
                <div class="tab-pane fade" id="list-E" role="tabpanel" aria-labelledby="list-E-list">
                    <iframe class="w-100" src="~/Content/file/2019/3/5.pdf" height="780"></iframe>
                </div>
                <div class="tab-pane fade" id="list-F" role="tabpanel" aria-labelledby="list-F-list">
                    <iframe class="w-100" src="~/Content/file/2019/3/6.pdf" height="780"></iframe>
                </div>
                <div class="tab-pane fade" id="list-G" role="tabpanel" aria-labelledby="list-G-list">
                    <iframe class="w-100" src="~/Content/file/2019/3/7.pdf" height="780"></iframe>
                </div>
            </div>
        </div>

        <div class="col-lg-4 pt-4">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-A-list" data-toggle="list" href="#list-A" role="tab" aria-controls="home">
                    ПРОГНОЗИРОВАНИЕ КОЛИЧЕСТВА ДОРОЖНО-ТРАНСПОРТНЫХ ПРОИСШЕСТВИЙ В ПЕРМСКОМ КРАЕ НА ОСНОВЕ
                    МАТЕМАТИЧЕСКИХ МНОГОФАКТОРНЫХ МОДЕЛЕЙ
                </a>
                <a class="list-group-item list-group-item-action" id="list-B-list" data-toggle="list" href="#list-B" role="tab" aria-controls="profile">
                    МОДЕЛЬ ТРЕХСТОРОННЕГО ПАРТНЕРСТВА ДЛЯ УВЕЛИЧЕНИЯ ИНВЕСТИРОВАНИЯ В ОСНОВНЫЕ СРЕДСТВА
                </a>
                <a class="list-group-item list-group-item-action" id="list-C-list" data-toggle="list" href="#list-C" role="tab" aria-controls="messages">
                    ИНФОРМАЦИОННАЯ СИСТЕМА "УЧАСТНИК КОНФЕРЕНЦИИ ДЛЯ МОБИЛЬНОЙ ПЛАТФОРМЫ"
                </a>
                <a class="list-group-item list-group-item-action" id="list-D-list" data-toggle="list" href="#list-D" role="tab" aria-controls="settings">
                    РАЗРАБОТКА ИНФОРМАЦИОННОЙ СИСТЕМЫ "УЧЕТ СТРОИТЕЛЬНО-ОТДЕЛОЧНЫХ МАТЕРИАЛОВ И
                    СТРОИТЕЛЬНО-ОТДЕЛОЧНЫХ РАБОТ ООО "ДОМОСТРОЙ"
                </a>
                <a class="list-group-item list-group-item-action" id="list-E-list" data-toggle="list" href="#list-E" role="tab" aria-controls="settings">
                    VR-ТРЕНАЖЁР АППАРАТЧИКА ПОЛУЧЕНИЯ ТЕХНИЧЕСКОГО УГЛЕРОДА
                </a>
                <a class="list-group-item list-group-item-action" id="list-F-list" data-toggle="list" href="#list-F" role="tab" aria-controls="settings">
                    АВТОМАТИЗОРОВАННАЯ СИСТЕМА ДОПОЛНЕННОЙ РЕАЛЬНОСТИ "СИММУЛЯТОР ДОМАШНЕГО ПИТОМЦА"
                </a>
                <a class="list-group-item list-group-item-action" id="list-G-list" data-toggle="list" href="#list-G" role="tab" aria-controls="settings">
                    СИСТЕМА ПРОГНОЗИРОВАНИЯ ПОКАЗАТЕЛЕЙ РАБОТЫ ПРИЕМНОЙ КОМИССИИ ВУЗА
                </a>
            </div>
        </div>
    </div>

</main>