﻿@{
    ViewBag.Title = "Y2017_1";
}

    <main class="container">
        <div class="row">

            <div class="col-lg-8 pt-4">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="list-A" role="tabpanel" aria-labelledby="list-A-list">
                        <iframe class="w-100" src="~/Content/file/2017/1/1.pdf" height="780"></iframe>
                    </div>
                    <div class="tab-pane fade" id="list-B" role="tabpanel" aria-labelledby="list-B-list">
                        <iframe class="w-100" src="~/Content/file/2017/1/2.pdf" height="780"></iframe>
                    </div>
                    <div class="tab-pane fade" id="list-C" role="tabpanel" aria-labelledby="list-C-list">
                        <iframe class="w-100" src="~/Content/file/2017/1/3.pdf" height="780"></iframe>
                    </div>
                    <div class="tab-pane fade" id="list-D" role="tabpanel" aria-labelledby="list-D-list">
                        <iframe class="w-100" src="~/Content/file/2017/1/4.pdf" height="780"></iframe>
                    </div>
                    <div class="tab-pane fade" id="list-E" role="tabpanel" aria-labelledby="list-E-list">
                        <iframe class="w-100" src="~/Content/file/2017/1/5.pdf" height="780"></iframe>
                    </div>
                    <div class="tab-pane fade" id="list-F" role="tabpanel" aria-labelledby="list-F-list">
                        <iframe class="w-100" src="~/Content/file/2017/1/6.pdf" height="780"></iframe>
                    </div>
                    <div class="tab-pane fade" id="list-G" role="tabpanel" aria-labelledby="list-G-list">
                        <iframe class="w-100" src="~/Content/file/2017/1/7.pdf" height="780"></iframe>
                    </div>

                </div>
            </div>

            <div class="col-lg-4 pt-4">
                <div class="list-group" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action active" id="list-A-list" data-toggle="list" href="#list-A" role="tab" aria-controls="home">
                        О ВОЗМОЖНОСТИ СОЗДАНИЯ ЕДИНОЙ ИНФОРМАЦИОННОЙ СИСТЕМЫ ОЦЕНКИ И ОПЛАТЫ ТРУДОВОЙ ДЕЯТЕЛЬНОСТИ
                    </a>
                    <a class="list-group-item list-group-item-action" id="list-B-list" data-toggle="list" href="#list-B" role="tab" aria-controls="profile">
                        О МЕЖДУНАРОДНОМ ГЕОЛОГИЧЕСКОМ ОБРАЗОВАНИИ «МГРИ-РГГРУ»
                    </a>
                    <a class="list-group-item list-group-item-action" id="list-C-list" data-toggle="list" href="#list-C" role="tab" aria-controls="messages">
                        К ВОПРОСУ ЭКОНОМИЧЕСКОЙ БЕЗОПАСНОСТИ РЕГИОНА
                    </a>
                    <a class="list-group-item list-group-item-action" id="list-D-list" data-toggle="list" href="#list-D" role="tab" aria-controls="settings">
                        ОБ ОЦЕНКЕ ЭФФЕКТИВНОСТИ МЕТОДОВ РАСПОЗНАВАНИЯ ОБРАЗОВ
                    </a>
                    <a class="list-group-item list-group-item-action" id="list-E-list" data-toggle="list" href="#list-E" role="tab" aria-controls="settings">
                        АУКЦИОН СТАНЦИЙ ТЕХНИЧЕСКОГО ОБСЛУЖИВАНИЯ
                    </a>
                    <a class="list-group-item list-group-item-action" id="list-F-list" data-toggle="list" href="#list-F" role="tab" aria-controls="settings">
                        ИМИТАЦИОННАЯ ПРОЦЕССНАЯ МОДЕЛЬ ФУНКЦИОНИРОВАНИЯ ПРЕДПРИЯТИЯ ПО ОКАЗАНИЮ УСЛУГ
                    </a>
                    <a class="list-group-item list-group-item-action" id="list-G-list" data-toggle="list" href="#list-G" role="tab" aria-controls="settings">
                        ОБУЧЕНИЕ ПРОГРАММНОЙ ИНЖЕНЕРИИ ПО АЛЬТЕРНАТИВНОЙ УЧЕБНОЙ ПРОГРАММЕ: ИДЕИ И МЕТОДЫ МАЙКЛА А. ДЖЕКСОНА 
                        В УХТИНСКОМ ГОСУДАРСТВЕННОМ ТЕХНИЧЕСКОМ УНИВЕРСИТЕТЕ, РОССИЯ (С 2014 ПО НАСТОЯЩЕЕ ВРЕМЯ)
                    </a>

                </div>
            </div>
        </div>

    </main>