﻿@{
    ViewBag.Title = "Y2017_3";
}

<main class="container">
    <div class="row">

        <div class="col-lg-8 pt-4">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-A" role="tabpanel" aria-labelledby="list-A-list">
                    <iframe class="w-100" src="~/Content/file/2017/3/1.pdf" height="780"></iframe>
                </div>
                <div class="tab-pane fade" id="list-B" role="tabpanel" aria-labelledby="list-B-list">
                    <iframe class="w-100" src="~/Content/file/2017/3/2.pdf" height="780"></iframe>
                </div>
                <div class="tab-pane fade" id="list-C" role="tabpanel" aria-labelledby="list-C-list">
                    <iframe class="w-100" src="~/Content/file/2017/3/3.pdf" height="780"></iframe>
                </div>
                <div class="tab-pane fade" id="list-D" role="tabpanel" aria-labelledby="list-D-list">
                    <iframe class="w-100" src="~/Content/file/2017/3/4.pdf" height="780"></iframe>
                </div>
                <div class="tab-pane fade" id="list-E" role="tabpanel" aria-labelledby="list-E-list">
                    <iframe class="w-100" src="~/Content/file/2017/3/5.pdf" height="780"></iframe>
                </div>
                <div class="tab-pane fade" id="list-F" role="tabpanel" aria-labelledby="list-F-list">
                    <iframe class="w-100" src="~/Content/file/2017/3/6.pdf" height="780"></iframe>
                </div>
                <div class="tab-pane fade" id="list-G" role="tabpanel" aria-labelledby="list-G-list">
                    <iframe class="w-100" src="~/Content/file/2017/3/7.pdf" height="780"></iframe>
                </div>
                <div class="tab-pane fade" id="list-H" role="tabpanel" aria-labelledby="list-H-list">
                    <iframe class="w-100" src="~/Content/file/2017/3/8.pdf" height="780"></iframe>
                </div>
                <div class="tab-pane fade" id="list-I" role="tabpanel" aria-labelledby="list-I-list">
                    <iframe class="w-100" src="~/Content/file/2017/3/9.pdf" height="780"></iframe>
                </div>
            </div>
        </div>

        <div class="col-lg-4 pt-4">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-A-list" data-toggle="list" href="#list-A" role="tab" aria-controls="home">
                    РАЗРАБОТКА АЛГОРИТМА ЭМУЛИРОВАНИЯ И ОПТИМИЗАЦИИ ТОПОЛОГИИ И ДИНАМИЧЕСКОГО 
                    РЕЗЕРВИРОВАНИЯ РЕСУРСОВ ВЫЧИСЛИТЕЛЬНОЙ СЕТИ КЛАСТЕРА НЕЙРОКОМПЬЮТЕРОВ
                </a>
                <a class="list-group-item list-group-item-action" id="list-B-list" data-toggle="list" href="#list-B" role="tab" aria-controls="profile">
                    ПРОЕКТ РАЗРАБОТКИ ИНФОРМАЦИОННОГО И ПРОГРАММНОГО ОБЕСПЕЧЕНИЯ УЧЁТА И ПРОГНОЗИРОВАНИЯ СОСТОЯНИЯ ОБОРУДОВАНИЯ
                </a>
                <a class="list-group-item list-group-item-action" id="list-C-list" data-toggle="list" href="#list-C" role="tab" aria-controls="messages">
                    ИНФОРМАЦИОННАЯ СИСТЕМА УЧЕТА ОФОРМЛЕНИЯ И ВЫПОЛНЕНИЯ ЗАКАЗОВ ИСПЫТАТЕЛЬНОЙ ЛАБОРАТОРИИ 
                    СТРОИТЕЛЬНЫХ МАТЕРИАЛОВ И ГРУНТОВ
                </a>
                <a class="list-group-item list-group-item-action" id="list-D-list" data-toggle="list" href="#list-D" role="tab" aria-controls="settings">
                    ИНФОРМАЦИОННАЯ СИСТЕМА УЧЁТА ДЕЯТЕЛЬНОСТИ ЦВЕТОЧНОГО МАГАЗИНА «КАМЕЛИЯ»
                </a>
                <a class="list-group-item list-group-item-action" id="list-E-list" data-toggle="list" href="#list-E" role="tab" aria-controls="settings">
                    ПРОЕКТ ВНЕДРЕНИЯ КАМПУСНОГО РЕШЕНИЯ В УГТУ НА ОСНОВЕ КАРТ ГАЗПРОМБАНКА. ПОДСИСТЕМА «БИБЛИОТЕКА»
                </a>
                <a class="list-group-item list-group-item-action" id="list-F-list" data-toggle="list" href="#list-F" role="tab" aria-controls="settings">
                    МОДЕРНИЗАЦИИ СИСТЕМЫ УЧЕТА, ХРАНЕНИЯ И ИСПОЛЬЗОВАНИЯ ФОНДОВЫХ И БИБЛИОТЕЧНЫХ МАТЕРИАЛОВ ДЛЯ ООО «ТП НИЦ»
                </a>
                <a class="list-group-item list-group-item-action" id="list-G-list" data-toggle="list" href="#list-G" role="tab" aria-controls="settings">
                    ПРОЕКТ ВНЕДРЕНИЯ КАМПУСНОГО РЕШЕНИЯ В УГТУ НА ОСНОВЕ КАРТ ГАЗПРОМБАНКА. ПОДСИСТЕМА «ПРОХОДНАЯ»
                </a>
                <a class="list-group-item list-group-item-action" id="list-H-list" data-toggle="list" href="#list-H" role="tab" aria-controls="settings">
                    РАЗРАБОТКА АВТОМАТИЗИРОВАННОЙ ИНФОРМАЦИОННОЙ СИСТЕМЫ КОЛИЧЕСТВЕННОГО УЧЕТА ЭЛЕКТРОЭНЕРГИИ КС-3 
                    ВУКТЫЛЬСКОГО ЛПУМГ
                </a>
                <a class="list-group-item list-group-item-action" id="list-I-list" data-toggle="list" href="#list-I" role="tab" aria-controls="settings">
                    РАЗРАБОТКА ПРОГРАММНО-АППАРАТНОГО КОМПЛЕКСА МОНИТОРИНГА ПОКАЗАНИЙ БЫТОВЫХ СЧЕТЧИКОВ
                </a>
            </div>
        </div>
    
    </div>
</main>