﻿
@{
    ViewBag.Title = "Y2017_4";
}

<main class="container">
    <div class="row">

        <div class="col-lg-8 pt-4">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-A" role="tabpanel" aria-labelledby="list-A-list">
                    <iframe class="w-100" src="~/Content/file/2017/4/1.pdf" height="780"></iframe>
                </div>
                <div class="tab-pane fade" id="list-B" role="tabpanel" aria-labelledby="list-B-list">
                    <iframe class="w-100" src="~/Content/file/2017/4/2.pdf" height="780"></iframe>
                </div>
                <div class="tab-pane fade" id="list-C" role="tabpanel" aria-labelledby="list-C-list">
                    <iframe class="w-100" src="~/Content/file/2017/4/3.pdf" height="780"></iframe>
                </div>
                <div class="tab-pane fade" id="list-D" role="tabpanel" aria-labelledby="list-D-list">
                    <iframe class="w-100" src="~/Content/file/2017/4/4.pdf" height="780"></iframe>
                </div>
                <div class="tab-pane fade" id="list-E" role="tabpanel" aria-labelledby="list-E-list">
                    <iframe class="w-100" src="~/Content/file/2017/4/5.pdf" height="780"></iframe>
                </div>
                <div class="tab-pane fade" id="list-F" role="tabpanel" aria-labelledby="list-F-list">
                    <iframe class="w-100" src="~/Content/file/2017/4/6.pdf" height="780"></iframe>
                </div>
                <div class="tab-pane fade" id="list-G" role="tabpanel" aria-labelledby="list-G-list">
                    <iframe class="w-100" src="~/Content/file/2017/4/7.pdf" height="780"></iframe>
                </div>
                <div class="tab-pane fade" id="list-H" role="tabpanel" aria-labelledby="list-H-list">
                    <iframe class="w-100" src="~/Content/file/2017/4/8.pdf" height="780"></iframe>
                </div>
                <div class="tab-pane fade" id="list-I" role="tabpanel" aria-labelledby="list-I-list">
                    <iframe class="w-100" src="~/Content/file/2017/4/9.pdf" height="780"></iframe>
                </div>
                <div class="tab-pane fade" id="list-J" role="tabpanel" aria-labelledby="list-J-list">
                    <iframe class="w-100" src="~/Content/file/2017/4/10.pdf" height="780"></iframe>
                </div>
            </div>
        </div>

        <div class="col-lg-4 pt-4">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-A-list" data-toggle="list" href="#list-A" role="tab" aria-controls="home">
                    КОМПЕНСАЦИЯ СИСТЕМАТИЧЕСКИХ ПОГРЕШНОСТЕЙ ПЕРВИЧНЫХ ИЗМЕРИТЕЛЬНЫХ ПРЕОБРАЗОВАТЕЛЕЙ 
                    БОРТОВЫХ ИНФОРМАЦИОННЫХ СИСТЕМ
                </a>
                <a class="list-group-item list-group-item-action" id="list-B-list" data-toggle="list" href="#list-B" role="tab" aria-controls="profile">
                    МОДИФИКАЦИЯ РАБОТЫ АЛГОРИТМА ПРЕОБРАЗОВАНИЯ ОБРАТНОЙ ПОЛЬСКОЙ ЗАПИСИ ПРОГРАММЫ В АБСТРАКТНОЕ 
                    СИНТАКСИЧЕСКОЕ ДЕРЕВО
                </a>
                <a class="list-group-item list-group-item-action" id="list-C-list" data-toggle="list" href="#list-C" role="tab" aria-controls="messages">
                    РАЗРАБОТКА МОДУЛЯ ИНФОРМАЦИОННОЙ СИСТЕМЫ «ППС УГТУ»: МЕТОДИЧЕСКИЕ РАЗРАБОТКИ КАФЕДР
                </a>
                <a class="list-group-item list-group-item-action" id="list-D-list" data-toggle="list" href="#list-D" role="tab" aria-controls="settings">
                    ПРОЕКТ МОДЕРНИЗАЦИИ ИНФОРМАЦИОННОГО И ПРОГРАММНОГО ОБЕСПЕЧЕНИЯ ПРОЦЕССА ПОВЫШЕНИЯ КВАЛИФИКАЦИИ
                </a>
                <a class="list-group-item list-group-item-action" id="list-E-list" data-toggle="list" href="#list-E" role="tab" aria-controls="settings">
                    РАЗРАБОТКА ЭКСПЕРТНОЙ СИСТЕМЫ В СФЕРЕ ЮРИДИЧЕСКИХ КОНСУЛЬТАЦИЙ ПО ФОРМИРОВАНИЮ ДЕКЛАРАЦИИ 3-НДФЛ
                </a>
                <a class="list-group-item list-group-item-action" id="list-F-list" data-toggle="list" href="#list-F" role="tab" aria-controls="settings">
                    РАЗРАБОТКА ИНФОРМАЦИОННОЙ СИСТЕМЫ «УЧЕТ ПОЛЕВЫХ СЕЙСМОРАЗВЕДОЧНЫХ МАТЕРИАЛОВ»
                </a>
                <a class="list-group-item list-group-item-action" id="list-G-list" data-toggle="list" href="#list-G" role="tab" aria-controls="settings">
                    СИСТЕМА ДВУХФАКТОРНОЙ АУТЕНТИФИКАЦИИ ПОЛЬЗОВАТЕЛЕЙ СИСТЕМЫ ДИСПЕТЧЕРСКОГО УПРАВЛЕНИЯ УРОВНЯ 
                    ЦЕНТРАЛЬНОГО ДИСПЕТЧЕРСКОГО ПУНКТА ООО «ГАЗПРОМ ТРАНСГАЗ УХТА»
                </a>
                <a class="list-group-item list-group-item-action" id="list-H-list" data-toggle="list" href="#list-H" role="tab" aria-controls="settings">
                    ИНФОРМАЦИОННАЯ СИСТЕМА ИМИТАЦИОННОГО МОДЕЛИРОВАНИЯ ФУНКЦИОНИРОВАНИЯ ПРЕДПРИЯТИЯ ПО ОКАЗАНИЮ УСЛУГ
                </a>
                <a class="list-group-item list-group-item-action" id="list-I-list" data-toggle="list" href="#list-I" role="tab" aria-controls="settings">
                    ИНФОРМАЦИОННАЯ СИСТЕМА УЧЕТА СБОРА ЗАЯВОК И ПРОДУКЦИИ НА ПРЕДПРИЯТИИ ООО «КИБУС»
                </a>
                <a class="list-group-item list-group-item-action" id="list-J-list" data-toggle="list" href="#list-J" role="tab" aria-controls="settings">
                    ПРИМЕНЕНИЕ ТЕХНОЛОГИИ ПАССИВНЫХ ОПТИЧЕСКИХ СЕТЕЙ В ООО «ГАЗПРОМ ТРАНСГАЗ УХТА»
                </a>

            </div>
        </div>
    </div>

</main>