﻿
@{
    ViewBag.Title = "Y2018_4";
}

    <main class="container">
        <div class="row">

            <div class="col-lg-8 pt-4">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="list-A" role="tabpanel" aria-labelledby="list-A-list">
                        <iframe class="w-100" src="~/Content/file/2018/4/1.pdf" height="780"></iframe>
                    </div>
                    <div class="tab-pane fade" id="list-B" role="tabpanel" aria-labelledby="list-B-list">
                        <iframe class="w-100" src="~/Content/file/2018/4/2.pdf" height="780"></iframe>
                    </div>
                    <div class="tab-pane fade" id="list-C" role="tabpanel" aria-labelledby="list-C-list">
                        <iframe class="w-100" src="~/Content/file/2018/4/3.pdf" height="780"></iframe>
                    </div>
                    <div class="tab-pane fade" id="list-D" role="tabpanel" aria-labelledby="list-D-list">
                        <iframe class="w-100" src="~/Content/file/2018/4/4.pdf" height="780"></iframe>
                    </div>
                    <div class="tab-pane fade" id="list-E" role="tabpanel" aria-labelledby="list-E-list">
                        <iframe class="w-100" src="~/Content/file/2018/4/5.pdf" height="780"></iframe>
                    </div>
                    <div class="tab-pane fade" id="list-F" role="tabpanel" aria-labelledby="list-F-list">
                        <iframe class="w-100" src="~/Content/file/2018/4/6.pdf" height="780"></iframe>
                    </div>
                    <div class="tab-pane fade" id="list-G" role="tabpanel" aria-labelledby="list-G-list">
                        <iframe class="w-100" src="~/Content/file/2018/4/7.pdf" height="780"></iframe>
                    </div>
                    <div class="tab-pane fade" id="list-H" role="tabpanel" aria-labelledby="list-H-list">
                        <iframe class="w-100" src="~/Content/file/2018/4/8.pdf" height="780"></iframe>
                    </div>
                    <div class="tab-pane fade" id="list-I" role="tabpanel" aria-labelledby="list-I-list">
                        <iframe class="w-100" src="~/Content/file/2018/4/9.pdf" height="780"></iframe>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 pt-4">
                <div class="list-group" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action active" id="list-A-list" data-toggle="list" href="#list-A" role="tab" aria-controls="home">
                        РАЗРАБОТКА ПОДСИСТЕМЫ «ТЕСТИРОВАНИЕ СТУДЕНТОВ» ИНФОРМАЦИОННОЙ СИСТЕМЫ «РАБОЧЕЕ МЕСТО ПРЕПОДАВАТЕЛЯ»
                    </a>
                    <a class="list-group-item list-group-item-action" id="list-B-list" data-toggle="list" href="#list-B" role="tab" aria-controls="profile">
                        РАЗРАБОТКА ИНФОРМАЦИОННОЙ СИСТЕМЫ  «УЧЁТ И ТИРАЖИРОВАНИЕ КОМПЬЮТЕРНЫХ ОБУЧАЮЩИХ СИСТЕМ ДЛЯ ОТДЕЛА АСУ ПХД, 
                        ФИЛИАЛА ООО "ГАЗПРОМ ТРАНСГАЗ УХТА" ПЕЧОРСКОГО ЛПУМГ»
                    </a>
                    <a class="list-group-item list-group-item-action" id="list-C-list" data-toggle="list" href="#list-C" role="tab" aria-controls="messages">
                        СИСТЕМА ЭЛЕКТРОННОГО ФОРМИРОВАНИЯ ЗАКАЗОВ СЛУЖБЫ ДОСТАВКИ ЯПОНСКОЙ КУХНИ
                    </a>
                    <a class="list-group-item list-group-item-action" id="list-D-list" data-toggle="list" href="#list-D" role="tab" aria-controls="settings">
                        ПРОЦЕДУРЫ ОЦЕНКИ ОРГАНИЗАЦИОННО-ЭКОНОМИЧЕСКОГО ОБЕСПЕЧЕНИЯ ЭФФЕКТИВНОГО УПРАВЛЕНИЯ ПРЕДПРИЯТИЕМ
                    </a>
                    <a class="list-group-item list-group-item-action" id="list-E-list" data-toggle="list" href="#list-E" role="tab" aria-controls="settings">
                        РАЗРАБОТКА ИНФОРМАЦИОННОЙ СИСТЕМЫ ДЛЯ УЧЕТА ДЕЯТЕЛЬНОСТИ ДЕТСКОГО РАЗВИВАЮЩЕГО ЦЕНТРА
                    </a>
                    <a class="list-group-item list-group-item-action" id="list-F-list" data-toggle="list" href="#list-F" role="tab" aria-controls="settings">
                        РАЗРАБОТКА ИНФОРМАЦИОННОЙ СИСТЕМЫ УЧЕТ СПЕЦИАЛЬНОЙ ОДЕЖДЫ И СИЗ В АО «КОТЛАСГАЗСЕРВИС»
                    </a>
                    <a class="list-group-item list-group-item-action" id="list-G-list" data-toggle="list" href="#list-G" role="tab" aria-controls="settings">
                        РАЗРАБОТКА MR ГАРНИТУРЫ  С ИНТЕГРИРОВАННОЙ СИСТЕМОЙ ТРЕКИНГА
                    </a>
                    <a class="list-group-item list-group-item-action" id="list-H-list" data-toggle="list" href="#list-H" role="tab" aria-controls="settings">
                        ТЕХНОЛОГИЯ «ПЕРЕВЕРНУТОГО ОБУЧЕНИЯ»  В ТЕХНИЧЕСКИХ ВУЗАХ
                    </a>
                    <a class="list-group-item list-group-item-action" id="list-I-list" data-toggle="list" href="#list-I" role="tab" aria-controls="settings">
                        МЕХАНИЗМ ВЫБОРА ИНВЕСТИЦИОННЫХ РЕШЕНИЙ В УПРАВЛЕНИИ ПРЕДПРИЯТИЕМ
                    </a>
                </div>
            </div>
        </div>

    </main>