﻿@{
    ViewBag.Title = "Y2018_3";
}

    <main class="container">
        <div class="row">

            <div class="col-lg-8 pt-4">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="list-A" role="tabpanel" aria-labelledby="list-A-list">
                        <iframe class="w-100" src="~/Content/file/2018/3/1.pdf" height="780"></iframe>
                    </div>
                    <div class="tab-pane fade" id="list-B" role="tabpanel" aria-labelledby="list-B-list">
                        <iframe class="w-100" src="~/Content/file/2018/3/2.pdf" height="780"></iframe>
                    </div>
                    <div class="tab-pane fade" id="list-C" role="tabpanel" aria-labelledby="list-C-list">
                        <iframe class="w-100" src="~/Content/file/2018/3/3.pdf" height="780"></iframe>
                    </div>
                    <div class="tab-pane fade" id="list-D" role="tabpanel" aria-labelledby="list-D-list">
                        <iframe class="w-100" src="~/Content/file/2018/3/4.pdf" height="780"></iframe>
                    </div>
                    <div class="tab-pane fade" id="list-E" role="tabpanel" aria-labelledby="list-E-list">
                        <iframe class="w-100" src="~/Content/file/2018/3/5.pdf" height="780"></iframe>
                    </div>
                    <div class="tab-pane fade" id="list-F" role="tabpanel" aria-labelledby="list-F-list">
                        <iframe class="w-100" src="~/Content/file/2018/3/6.pdf" height="780"></iframe>
                    </div>
                    <div class="tab-pane fade" id="list-G" role="tabpanel" aria-labelledby="list-G-list">
                        <iframe class="w-100" src="~/Content/file/2018/3/7.pdf" height="780"></iframe>
                    </div>
                    <div class="tab-pane fade" id="list-H" role="tabpanel" aria-labelledby="list-H-list">
                        <iframe class="w-100" src="~/Content/file/2018/3/8.pdf" height="780"></iframe>
                    </div>
                    <div class="tab-pane fade" id="list-I" role="tabpanel" aria-labelledby="list-I-list">
                        <iframe class="w-100" src="~/Content/file/2018/3/9.pdf" height="780"></iframe>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 pt-4">
                <div class="list-group" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action active" id="list-A-list" data-toggle="list" href="#list-A" role="tab" aria-controls="home">
                        МЕХАНИЗМ ПРИНЯТИЯ РАЦИОНАЛЬНОГО УПРАВЛЕНЧЕСКОГО РЕШЕНИЯ В ПРОЦЕССЕ ЭФФЕКТИВНОГО
                        УПРАВЛЕНИЯ ПРЕДПРИЯТИЕМ В УСЛОВИЯХ РИСКА
                    </a>
                    <a class="list-group-item list-group-item-action" id="list-B-list" data-toggle="list" href="#list-B" role="tab" aria-controls="profile">
                        ИНВЕСТИЦИОННЫЙ «ГОЛОД» КАК СЛЕДСТВИЕ ИНСТИТУЦИОНАЛЬНЫХ ПОГРЕШНОСТЕЙ В ЭКОНОМИЧЕСКОЙ ПОЛИТИКЕ
                    </a>
                    <a class="list-group-item list-group-item-action" id="list-C-list" data-toggle="list" href="#list-C" role="tab" aria-controls="messages">
                        КОНЦЕПЦИЯ СОВРЕМЕННОГО ИНФОРМАЦИОННО-ФИНАНСОВОГО КАПИТАЛА
                    </a>
                    <a class="list-group-item list-group-item-action" id="list-D-list" data-toggle="list" href="#list-D" role="tab" aria-controls="settings">
                        КОМПЛЕКС КОМПЬЮТЕРНЫХ ОБУЧАЮЩИХ СИСТЕМ «ПРОВЕДЕНИЕ КОНТРОЛЯ СТРОИТЕЛЬСТВА СКВАЖИН И ПРИЕМКИ 
                        ВОДОЗАБОРА НА ПРЕСНЫЕ ПОДЗЕМНЫЕ ВОДЫ» ДЛЯ ООО «ГАЗПРОМ ТРАНСГАЗ УХТА»
                    </a>
                    <a class="list-group-item list-group-item-action" id="list-E-list" data-toggle="list" href="#list-E" role="tab" aria-controls="settings">
                        РАЗРАБОТКА ИНФОРМАЦИОННОЙ СИСТЕМЫ  «УЧЕТ РАБОТЫ ГЭК»
                    </a>
                    <a class="list-group-item list-group-item-action" id="list-F-list" data-toggle="list" href="#list-F" role="tab" aria-controls="settings">
                        СЕРВИСНЫЙ КОМПОНЕНТ РАССЫЛКИ ИНФОРМАЦИОННЫХ СООБЩЕНИЙ ДЛЯ МОБИЛЬНЫХ ПЛАТФОРМ
                    </a>
                    <a class="list-group-item list-group-item-action" id="list-G-list" data-toggle="list" href="#list-G" role="tab" aria-controls="settings">
                        ИНФОРМАЦИОННАЯ СИСТЕМА УЧЕТА ХОЗЯЙСТВЕННОЙ СОБСТВЕННОСТИ ЖИТЕЛЕЙ СЕЛЬСКОГО ПОСЕЛЕНИЯ
                    </a>
                    <a class="list-group-item list-group-item-action" id="list-H-list" data-toggle="list" href="#list-H" role="tab" aria-controls="settings">
                        РАЗРАБОТКА ИНФОРМАЦИОННОЙ СИСТЕМЫ «ВИТРИНА ДАННЫХ “УСПЕВАЕМОСТИ СТУДЕНТОВ”»
                    </a>
                    <a class="list-group-item list-group-item-action" id="list-I-list" data-toggle="list" href="#list-I" role="tab" aria-controls="settings">
                        РАЗРАБОТКА ИНФОРМАЦИОННОЙ СИСТЕМЫ АНАЛИЗА ИМИТАЦИОННОЙ МОДЕЛИ ТРЦ «ЯРМАРКА»
                    </a>
                </div>
            </div>
        </div>

    </main>