﻿@{
    ViewBag.Title = "Y2019_4";
}

<main class="container">
    <div class="row">

        <div class="col-lg-8 pt-4">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-A" role="tabpanel" aria-labelledby="list-A-list">
                    <iframe class="w-100" src="~/Content/file/2019/4/1.pdf" height="780"></iframe>
                </div>
                <div class="tab-pane fade" id="list-B" role="tabpanel" aria-labelledby="list-B-list">
                    <iframe class="w-100" src="~/Content/file/2019/4/2.pdf" height="780"></iframe>
                </div>
                <div class="tab-pane fade" id="list-C" role="tabpanel" aria-labelledby="list-C-list">
                    <iframe class="w-100" src="~/Content/file/2019/4/3.pdf" height="780"></iframe>
                </div>
                <div class="tab-pane fade" id="list-D" role="tabpanel" aria-labelledby="list-D-list">
                    <iframe class="w-100" src="~/Content/file/2019/4/4.pdf" height="780"></iframe>
                </div>
                <div class="tab-pane fade" id="list-E" role="tabpanel" aria-labelledby="list-E-list">
                    <iframe class="w-100" src="~/Content/file/2019/4/5.pdf" height="780"></iframe>
                </div>
                <div class="tab-pane fade" id="list-F" role="tabpanel" aria-labelledby="list-F-list">
                    <iframe class="w-100" src="~/Content/file/2019/4/6.pdf" height="780"></iframe>
                </div>
                <div class="tab-pane fade" id="list-G" role="tabpanel" aria-labelledby="list-G-list">
                    <iframe class="w-100" src="~/Content/file/2019/4/7.pdf" height="780"></iframe>
                </div>
            </div>
        </div>

        <div class="col-lg-4 pt-4">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-A-list" data-toggle="list" href="#list-A" role="tab" aria-controls="home">
                    ПРИМЕНЕНИЕ ИНСТРУМЕНТАЛЬНОГО СРЕДСТВА ANYLOQIC ДЛЯ РАСЧЕТА СЕТИ ПЕТРИ
                </a>
                <a class="list-group-item list-group-item-action" id="list-B-list" data-toggle="list" href="#list-B" role="tab" aria-controls="profile">
                    РЕАЛИЗАЦИЯ НАИВНОГО БАЙЕСОВСКОГО КЛАССИФИКАТОРА НОВОСТНЫХ ПУБЛИКАЦИЙ В ФИНАНСОВОЙ СФЕРЕ НА 
                    ЯЗЫКЕ ПРОГРАММИРОВАНИЯ RUBY
                </a>
                <a class="list-group-item list-group-item-action" id="list-C-list" data-toggle="list" href="#list-C" role="tab" aria-controls="messages">
                    К ВОПРОСУ РАЗРАБОТКИ ИНТЕРНЕТ-ПОРТАЛА КАФЕДРЫ ВУЗА
                </a>
                <a class="list-group-item list-group-item-action" id="list-D-list" data-toggle="list" href="#list-D" role="tab" aria-controls="settings">
                    ИНФОРМАЦИОННАЯ ПОДСИСТЕМА СОЦИАЛЬНОГО ВЗАИМОДЕЙСТВИЯ ПОЛЬЗОВАТЕЛЕЙ ВМОБИЛЬНЫХ ИГРАХ В ФОРМАТЕ ACTIVITY FEED
                </a>
                <a class="list-group-item list-group-item-action" id="list-E-list" data-toggle="list" href="#list-E" role="tab" aria-controls="settings">
                    ИНФОРМАЦИОННАЯ СИСТЕМА УЧЕТА И ПЛАНИРОВАНИЯ ИСПОЛЬЗОВАНИЯ РАСХОДНЫХ МАТЕРИАЛОВ ПРИ ЭКСПЛУАТАЦИИ 
                    ОРГТЕХНИКИ ТП НИЦ
                </a>
                <a class="list-group-item list-group-item-action" id="list-F-list" data-toggle="list" href="#list-F" role="tab" aria-controls="settings">
                    РАЗРАБОТКА ИНФОРМАЦИОННОЙ СИСТЕМЫ "ЧИР СПОРТ РЕСПУБЛИКИ КОМИ"
                </a>
                <a class="list-group-item list-group-item-action" id="list-G-list" data-toggle="list" href="#list-G" role="tab" aria-controls="settings">
                    АВТОМАТИЗИРОВАННАЯ ИНФОРМАЦИОННАЯ СИСТЕМА "УПРАВЛЕНИЕ VR-ТРЕНАЖЕРАМИ" ДЛЯ ООО "ГАЗПРОМ ПЕРЕРАБОТКА"
                </a>
            </div>
        </div>
    </div>

</main>