﻿@{
    ViewBag.Title = "Y2019_2";
}

<main class="container">
    <div class="row">

        <div class="col-lg-8 pt-4">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-A" role="tabpanel" aria-labelledby="list-A-list">
                    <iframe class="w-100" src="~/Content/file/2019/2/1.pdf" height="780"></iframe>
                </div>
                <div class="tab-pane fade" id="list-B" role="tabpanel" aria-labelledby="list-B-list">
                    <iframe class="w-100" src="~/Content/file/2019/2/2.pdf" height="780"></iframe>
                </div>
                <div class="tab-pane fade" id="list-C" role="tabpanel" aria-labelledby="list-C-list">
                    <iframe class="w-100" src="~/Content/file/2019/2/3.pdf" height="780"></iframe>
                </div>
                <div class="tab-pane fade" id="list-D" role="tabpanel" aria-labelledby="list-D-list">
                    <iframe class="w-100" src="~/Content/file/2019/2/4.pdf" height="780"></iframe>
                </div>
                <div class="tab-pane fade" id="list-E" role="tabpanel" aria-labelledby="list-E-list">
                    <iframe class="w-100" src="~/Content/file/2019/2/5.pdf" height="780"></iframe>
                </div>
                <div class="tab-pane fade" id="list-F" role="tabpanel" aria-labelledby="list-F-list">
                    <iframe class="w-100" src="~/Content/file/2019/2/6.pdf" height="780"></iframe>
                </div>
                <div class="tab-pane fade" id="list-G" role="tabpanel" aria-labelledby="list-G-list">
                    <iframe class="w-100" src="~/Content/file/2019/2/7.pdf" height="780"></iframe>
                </div>
                <div class="tab-pane fade" id="list-H" role="tabpanel" aria-labelledby="list-H-list">
                    <iframe class="w-100" src="~/Content/file/2019/2/8.pdf" height="780"></iframe>
                </div>
                <div class="tab-pane fade" id="list-I" role="tabpanel" aria-labelledby="list-I-list">
                    <iframe class="w-100" src="~/Content/file/2019/2/9.pdf" height="780"></iframe>
                </div>
            </div>
        </div>

        <div class="col-lg-4 pt-4">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-A-list" data-toggle="list" href="#list-A" role="tab" aria-controls="home">
                    РОЛЬ ИНВЕСТИЦИОННЫХ ТЕХНОЛОГИЙ В МОДЕРНИЗАЦИИ ПРОМЫШЛЕННОСТИ
                </a>
                <a class="list-group-item list-group-item-action" id="list-B-list" data-toggle="list" href="#list-B" role="tab" aria-controls="profile">
                    МЕХАНИЗМ РАЗРАБОТКИ ЭКОНОМИКО-МАТЕМАТИЧЕСКИХ МОДЕЛЕЙ ИНВЕСТИЦИОННОГО ОБЕСПЕЧЕНИЯ ПРОМЫШЛЕННОСТИ
                </a>
                <a class="list-group-item list-group-item-action" id="list-C-list" data-toggle="list" href="#list-C" role="tab" aria-controls="messages">
                    САЙТ ПО ПЛАНИРОВАНИЮ СВАДЕБ
                </a>
                <a class="list-group-item list-group-item-action" id="list-D-list" data-toggle="list" href="#list-D" role="tab" aria-controls="settings">
                    РОЛЬ СТРАТЕГИИ ИННОВАЦИОННОГО РАЗВИТИЯ В ОБЕСПЕЧЕНИИ КОНКУРЕНТОСПОСОБНОСТИ КОМПАНИИ
                </a>
                <a class="list-group-item list-group-item-action" id="list-E-list" data-toggle="list" href="#list-E" role="tab" aria-controls="settings">
                    ИНФОРМАЦИОННАЯ СИСТЕМА УЧЕТА ДЕЯТЕЛЬНОСТИ ЧЛЕНА ГОСУДАРСТВЕННОЙ ЭКЗАМЕНАЦИОННОЙ КОМИССИИ 
                    В ХОДЕ ИТОГОВОЙ АТТЕСТАЦИИ ВЫПУСКНИКОВ
                </a>
                <a class="list-group-item list-group-item-action" id="list-F-list" data-toggle="list" href="#list-F" role="tab" aria-controls="settings">
                    ИНФОРМАЦИОННАЯ СИСТЕМА УЧЕТА УЯЗВИМОСТЕЙ ОБОРУДОВАНИЯ И ПРОГРАММНОГО ОБЕСПЕЧЕНИЯ 
                    АВТОМАТИЗИРОВАННЫХ СИСТЕМ УПРАВЛЕНИЯ ТЕХНОЛОГИЧЕСКИМ ПРОЦЕССОМ
                </a>
                <a class="list-group-item list-group-item-action" id="list-G-list" data-toggle="list" href="#list-G" role="tab" aria-controls="settings">
                    ИНФОРМАЦИОННАЯ СИСТЕМА  «ЛИЧНЫЙ КАБИНЕТ СТУДЕНТА УГТУ»
                </a>
                <a class="list-group-item list-group-item-action" id="list-H-list" data-toggle="list" href="#list-H" role="tab" aria-controls="settings">
                    РАЗРАБОТКА АВТОМАТИЗИРОВАННОЙ ИНФОРМАЦИОННОЙ СИСТЕМЫ «КУЛЬТУРНО-ИСТОРИЧЕСКИЙ ГИД ПО УХТЕ»
                </a>
                <a class="list-group-item list-group-item-action" id="list-I-list" data-toggle="list" href="#list-I" role="tab" aria-controls="settings">
                    АВТОМАТИЗИРОВАННАЯ СИСТЕМА УЧЕТА МЕРОПРИЯТИЙ ПО ПРОВЕДЕНИЮ КОНФЕРЕНЦИЙ
                </a>
            </div>
        </div>
    </div>

</main>