﻿
@{
    ViewBag.Title = "Y2018_2";
}

    <main class="container">
        <div class="row">

            <div class="col-lg-8 pt-4">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="list-A" role="tabpanel" aria-labelledby="list-A-list">
                        <iframe class="w-100" src="~/Content/file/2018/2/1.pdf" height="780"></iframe>
                    </div>
                    <div class="tab-pane fade" id="list-B" role="tabpanel" aria-labelledby="list-B-list">
                        <iframe class="w-100" src="~/Content/file/2018/2/2.pdf" height="780"></iframe>
                    </div>
                    <div class="tab-pane fade" id="list-C" role="tabpanel" aria-labelledby="list-C-list">
                        <iframe class="w-100" src="~/Content/file/2018/2/3.pdf" height="780"></iframe>
                    </div>
                    <div class="tab-pane fade" id="list-D" role="tabpanel" aria-labelledby="list-D-list">
                        <iframe class="w-100" src="~/Content/file/2018/2/4.pdf" height="780"></iframe>
                    </div>
                    <div class="tab-pane fade" id="list-E" role="tabpanel" aria-labelledby="list-E-list">
                        <iframe class="w-100" src="~/Content/file/2018/2/5.pdf" height="780"></iframe>
                    </div>
                    <div class="tab-pane fade" id="list-F" role="tabpanel" aria-labelledby="list-F-list">
                        <iframe class="w-100" src="~/Content/file/2018/2/6.pdf" height="780"></iframe>
                    </div>
                    <div class="tab-pane fade" id="list-G" role="tabpanel" aria-labelledby="list-G-list">
                        <iframe class="w-100" src="~/Content/file/2018/2/7.pdf" height="780"></iframe>
                    </div>
                    <div class="tab-pane fade" id="list-H" role="tabpanel" aria-labelledby="list-H-list">
                        <iframe class="w-100" src="~/Content/file/2018/2/8.pdf" height="780"></iframe>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 pt-4">
                <div class="list-group" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action active" id="list-A-list" data-toggle="list" href="#list-A" role="tab" aria-controls="home">
                        МОДЕРНИЗАЦИЯ ИНФОРМАЦИОННОЙ СИСТЕМЫ ПРОВЕРКИ НАВЫКОВ РАБОТЫ С ПРОГРАММНЫМИ СРЕДСТВАМИ ОБЩЕГО НАЗНАЧЕНИЯ
                    </a>
                    <a class="list-group-item list-group-item-action" id="list-B-list" data-toggle="list" href="#list-B" role="tab" aria-controls="profile">
                        РАЗРАБОТКА ИС ОРГАНИЗАЦИИ КОЛЛЕКТИВНОГО ДОСУГА
                    </a>
                    <a class="list-group-item list-group-item-action" id="list-C-list" data-toggle="list" href="#list-C" role="tab" aria-controls="messages">
                        РАЗРАБОТКА ИНФОРМАЦИОННОЙ СИСТЕМЫ «УЧЕТ КОНКУРСНОЙ ДЕЯТЕЛЬНОСТИ НАУЧНО-ПЕДАГОГИЧЕСКИХ РАБОТНИКОВ 
                        И СТУДЕНТОВ ДЛЯ ЦЕНТРА СОПРОВОЖДЕНИЯ ПРОЕКТОВ УГТУ»
                    </a>
                    <a class="list-group-item list-group-item-action" id="list-D-list" data-toggle="list" href="#list-D" role="tab" aria-controls="settings">
                        РАЗРАБОТКА ИНФОРМАЦИОННОЙ СИСТЕМЫ  «УЧЕТ СТУДЕНТОВ, ПРОЖИВАЮЩИХ В ОБЩЕЖИТИЯХ  ФГБОУ ВО «УГТУ»
                    </a>
                    <a class="list-group-item list-group-item-action" id="list-E-list" data-toggle="list" href="#list-E" role="tab" aria-controls="settings">
                        РАЗРАБОТКА АВТОМАТИЗИРОВАННОЙ ИНФОРМАЦИОННОЙ СИСТЕМЫ «УЧЕБНЫЙ ПРОЦЕСС АВТОШКОЛЫ «АВТОЛИДЕР»
                    </a>
                    <a class="list-group-item list-group-item-action" id="list-F-list" data-toggle="list" href="#list-F" role="tab" aria-controls="settings">
                        РАЗРАБОТКА ИНФОРМАЦИОННОЙ СИСТЕМЫ «АВТОМАТИЗАЦИЯ ПРОЦЕССОВ ПЛАНИРОВАНИЯ РЕСУРСОВ ОПЕРАТИВНОЙ 
                        ДЕЯТЕЛЬНОСТИ ПРЕДПРИЯТИЯ ООО «СЗИ»
                    </a>
                    <a class="list-group-item list-group-item-action" id="list-G-list" data-toggle="list" href="#list-G" role="tab" aria-controls="settings">
                        АЛГОРИТМ РАНЖИРОВАНИЯ ОБЪЕКТОВ ИНТЕЛЛЕКТУАЛЬНОЙ СОБСТВЕННОСТИ ПО КРИТЕРИЮ ЗНАЧИМОСТИ 
                        ДЛЯ ЭКОНОМИКИ ГОСУДАРСТВА
                    </a>
                    <a class="list-group-item list-group-item-action" id="list-H-list" data-toggle="list" href="#list-H" role="tab" aria-controls="settings">
                        СОВРЕМЕННЫЕ ТЕХНОЛОГИИ ПЕРЕВОЗОЧНЫХ ПРОЦЕССОВ В ОПТИМИЗАЦИИ КОНТРОЛЯ И ТЕХНИКО-ЭКОНОМИЧЕСКИХ
                        ПОКАЗАТЕЛЕЙ В СИСТЕМЕ ОБЩЕСТВЕННОГО ГОРОДСКОГО ПАССАЖИРСКОГО ТРАНСПОРТА В ТАМБОВЕ
                    </a>
                </div>
            </div>
        </div>

    </main>