﻿
@{
    ViewBag.Title = "Y2020_1";
}

<main class="container">
    <div class="row">

        <div class="col-lg-8 pt-4">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-A" role="tabpanel" aria-labelledby="list-A-list">
                    <iframe class="w-100" src="~/Content/file/2020/1/1.pdf" height="780"></iframe>
                </div>
                <div class="tab-pane fade" id="list-B" role="tabpanel" aria-labelledby="list-B-list">
                    <iframe class="w-100" src="~/Content/file/2020/1/2.pdf" height="780"></iframe>
                </div>
                <div class="tab-pane fade" id="list-C" role="tabpanel" aria-labelledby="list-C-list">
                    <iframe class="w-100" src="~/Content/file/2020/1/3.pdf" height="780"></iframe>
                </div>
                <div class="tab-pane fade" id="list-D" role="tabpanel" aria-labelledby="list-D-list">
                    <iframe class="w-100" src="~/Content/file/2020/1/4.pdf" height="780"></iframe>
                </div>
                <div class="tab-pane fade" id="list-E" role="tabpanel" aria-labelledby="list-E-list">
                    <iframe class="w-100" src="~/Content/file/2020/1/5.pdf" height="780"></iframe>
                </div>
            </div>
        </div>

        <div class="col-lg-4 pt-4">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-A-list" data-toggle="list" href="#list-A" role="tab" aria-controls="home">
                    ПОДАЧА ПРОИЗВОЛЬНОГО СИГНАЛА  НА ВХОД SIMULINK-МОДЕЛИ
                </a>
                <a class="list-group-item list-group-item-action" id="list-B-list" data-toggle="list" href="#list-B" role="tab" aria-controls="profile">
                    АИС «ФОРМИРОВАНИЯ КОЛЛЕКТИВНОГО РАСПИСАНИЯ ДЛЯ ГРУППЫ ОБУЧАЮЩИХСЯ»
                </a>
                <a class="list-group-item list-group-item-action" id="list-C-list" data-toggle="list" href="#list-C" role="tab" aria-controls="messages">
                    О ЗАКОНЕ ЦИПФА
                </a>
                <a class="list-group-item list-group-item-action" id="list-D-list" data-toggle="list" href="#list-D" role="tab" aria-controls="settings">
                    АВТОМАТИЗИРОВАННАЯ СИСТЕМА ВИРТУАЛЬНОГО ПРОХОЖДЕНИЯ «ЭСКЕЙП РУМ» ДЛЯ СТУДИИ КВЕСТОВ УЗНИК
                </a>
                <a class="list-group-item list-group-item-action" id="list-E-list" data-toggle="list" href="#list-E" role="tab" aria-controls="settings">
                    ИНФОРМАЦИОННАЯ СИСТЕМА «ЧИР СПОРТ РЕСПУБЛИКИ КОМИ»: ПОДСИСТЕМА УЧАСТНИКОВ ФЕДЕРАЦИИ И ПОКАЗАТЕЛЕЙ ИХ ДЕЯТЕЛЬНОСТИ
                </a>
            </div>
        </div>
    </div>

</main>