﻿@{
    ViewBag.Title = "Архив 2018 года";
}

<main class="container pt-4">
    <div class="row">

        <div class="col-md-4 mb-4">
            <div class="card card-body text-center bg-light">
                <br>
                <h4 class="card-title">2018.Выпуск №1</h4>
                <br>
                <hr>
                <a href="~/Home/Y2018_1" class="btn btn-primary btn-block btn-lg">Выбор статьи</a> <br>
                <hr>
                <a href="#" class="btn btn-secondary btn-lg">Скачать выпуск целиком</a>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card card-body text-center bg-light">
                <br>
                <h4 class="card-title">2018.Выпуск №2</h4>
                <br>
                <hr>
                <a href="~/Home/Y2018_2" class="btn btn-primary btn-block btn-lg">Выбор статьи</a> <br>
                <hr>
                <a href="#" class="btn btn-secondary btn-lg">Скачать выпуск целиком</a>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card card-body text-center bg-light">
                <br>
                <h4 class="card-title">2018.Выпуск №3</h4>
                <br>
                <hr>
                <a href="~/Home/Y2018_3" class="btn btn-primary btn-block btn-lg">Выбор статьи</a> <br>
                <hr>
                <a href="#" class="btn btn-secondary btn-lg">Скачать выпуск целиком</a>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card card-body text-center bg-light">
                <br>
                <h4 class="card-title">2018.Выпуск №4</h4>
                <br>
                <hr>
                <a href="~/Home/Y2018_4" class="btn btn-primary btn-block btn-lg">Выбор статьи</a> <br>
                <hr>
                <a href="#" class="btn btn-secondary btn-lg">Скачать выпуск целиком</a>
            </div>
        </div>

    </div>
</main>